@charset "UTF-8";
/*Outras meidas*/
/*Typical Device Breakpoints
    Dispositivos Móveis: 320px até 480px
    IPads e Tablets: 481px até 768px
    Laptop: 769px até 1024px
    Desktop: 1025px até 1200px
    Telas grandes: acima de 1201px
Atualização mais recente em 2022*/
@media print /*impressão*/{
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url(../imagens/back-print.jpg);/*Inútil*/
    }
    main > h1{
        text-shadow: none;
        color: black;
        border: 2px dashed black;
    }
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: block;}
    #pc{display: none;}
    #tv{display: none;}

}
@media screen and (min-width:769px) and (max-width:1024px){
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    #phone{display: none;}
    #tablet{display: block;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: none;}
}
@media screen and (min-width:1025px) and (max-width:1200px){
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    #phone{display: none;}
    #tablet{display: none;}
    #print{display: none;}
    #pc{display: block;}
    #tv{display: none;}
}
@media screen and (min-width:1201px){
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    #phone{display: none;}
    #tablet{display: block;}
    #print{display: none;}
    #pc{display: none;}
    #tv{display: none;}
}